$laranja: #FCA311;
$background: #000;
$div: #050607;



$background-light: #fff;

::-webkit-scrollbar {
    background-color: #101010;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff2f;
    border-radius: 12px;
    width: 2px;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    background-color: $background;
    overflow: hidden;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;

    span {
        font-size: 20px;
        margin: 20px;
        color: #e9e9e9;
    }

    .loading-spinner {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 4px solid rgba(0, 251, 189, 0.5);
        border-top: 4px solid $laranja;
        animation: spin 1s linear infinite;
    }
}

// Login.jsx 

.login {


    .login {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    #icone-login {
        display: block;
        margin: 0 auto;
        font-size: 48px;
        color: #007bff;
    }

    div {
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }

    button:hover {
        background-color: #0056b3;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $background;
    color: #e9e9e9;

    #icone-login {
        font-size: 100px;
        color: $laranja;
    }

    .hidden {
        display: none;
        opacity: 0;
        transition: opacity .5s ease;
        pointer-events: none;
        cursor: default;
    }

    .show {
        opacity: 1;
        pointer-events: auto;
        cursor: text;
    }

    h2 {
        margin: 5px;
        font-weight: 200;
        margin-bottom: 5px;
    }

    form {
        .form-control {
            display: flex;
            flex-direction: column;

            input {
                margin: 10px 0px;
                border: none;
                background-color: #d0cccc;
                border-radius: 5px;
                padding: 9px 9px;
                color: black;
            }

            input:focus {
                outline: none;
                background-color: #fca21167;
                border: 3px solid $laranja inset;
                transition: all .6s ease-in-out;
            }

            #pass {
                transition: opacity 2s;
                opacity: 1;
            }
        }

        button {
            background-color: $laranja;
            padding: 10px 12px;
            border: none;
            border-radius: 5px;
            width: 100%;
            margin: 10px 0px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    #error {
        margin-top: 20px;
        font-weight: bold;
        color: #f93535;
    }

    #form-register {
        input {
            width: 50%;
        }

        background-color: #0e0e0f;
        padding: 20px;
        border-radius: 5px;

        .divsenha {
            position: absolute;
            top: 400px;
            /* Coloca a divsenha abaixo do campo de senha */
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: #fff;
            border: 1px solid #555;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            /* Inicialmente escondida */
            z-index: 1;
            /* Garante que a divsenha esteja acima dos outros elementos */
        }
    }
}


// navbar.jsx
nav {
    display: flex;
    background-color: $background;
    color: #e9e9e9;
    padding: 10px;
    overflow: hidden;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        width: 100%;


    }
}

// sidebar.jsx
.sidebar {
    background-color: $background;
    display: flex;
    flex-direction: column;
    width: 75px;
    gap: 0;
    margin: 0;
    overflow: hidden;
    transition: all .8s ease-in-out;

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        a {
            text-decoration: none;
            color: #fff;

            li {
                display: flex;
                align-items: center;
                padding: 5px 5px;
                transition: .3s;
                margin: 10px;
                border-radius: 5px;
                background-color: #d9d9d92a;


                i {
                    padding: 8px 10px;
                    display: flex;
                    align-items: center;
                }

                .titleNav {
                    opacity: 0;
                    /* Adicione esta propriedade */
                }

                .titleNav.open {
                    display: block;
                    opacity: 1;
                    transition: opacity 1s linear 0.5s;
                }
            }

        }

        .toggle {
            color: white;
            text-align: end;
            padding: 10px 16px;
            cursor: pointer;
        }
    }

    .logout {
        justify-self: end;
        margin-bottom: 14px;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 5px;
            transition: .3s;
            margin: 10px;
            border-radius: 5px;
            background-color: #d9d9d92a;
            color: #e9e9e9;

            a {
                padding: 5px 8px;
                border-radius: 5px;
                color: white;
                background-color: #d9d9d92a;
            }

            i {
                padding: 8px 10px;
                display: flex;
                align-items: center;
            }

            #titleLog,
            #logoutButton {
                opacity: 0;
            }

            #titleLog.open,
            #logoutButton.open {
                display: block;
                opacity: 1;
                transition: opacity 1s linear 0.5s;
            }
        }
    }

    .dropdown {
        display: none;
        background-color: #162730;

        li {
            padding: 10px 50px;
        }
    }

    .dropdown.open {
        display: block;
    }
}

.sidebar.open {
    width: 215px;
}


// home.jsx
.container {
    display: flex;
    height: 96svh;
    overflow: hidden;
    color: white;

    .divChart {
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        height: 100%;
        margin-left: 10px;

        .chart {
            background-color: $div;
            height: 50vh;
            width: 100%;
            padding: 10px;
            flex-direction: column;
        }
    }

    .page {
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;

        #backPage {
            align-self: end;
            background-color: $laranja;
            padding: 10px 12px;
            border: none;
            border-radius: 5px;
            margin: 10px 10px 0px 0px;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            color: #000;
        }

        .divMap,
        .divTable,
        .details,
        .alertas {
            display: flex;
            padding: 20px;
            margin: 10px;
            border-radius: 5px;
            color: #e9e9e9;
            background-color: $div;
        }

        .divTable {
            height: 42vh;

            table {
                width: 100%;
                height: 100px;
                text-align: center;
                /* border-collapse: collapse; */



                tbody {
                    text-align: center;
                    overflow: auto;

                    td {
                        background-color: #d9d9d92a;
                        padding: 5px;
                    }

                    td:first-child {
                        padding-left: 20px;
                        border-bottom-left-radius: 20px;
                        border-top-left-radius: 20px;
                    }

                    td:last-child {
                        padding-right: 5px;
                        border-bottom-right-radius: 20px;
                        border-top-right-radius: 20px;
                    }
                }

                button {
                    padding: 5px 10px;
                    border: none;
                    border-radius: 3px;
                    background-color: #d9d9d92a;

                    span {
                        display: flex;
                        align-content: center;
                        color: #e9e9e9;
                        font-weight: bold;

                        svg {
                            margin-right: 5px;
                        }

                    }
                }
            }
        }

        .details {
            padding: 5px 10px;

            .col {
                padding: 10px;
                width: 50%;

                .map {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .leaflet-container {
                    height: 280px;
                    border-radius: 5px;
                }

                .header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }

                h2 {
                    margin: 0;
                    font-size: 18px;

                    span {
                        font-weight: 400;
                    }
                }

                .itinerario {
                    margin: 20px 0px;

                    .control {
                        display: flex;
                        align-items: center;
                        margin: 5px 0px;

                        svg {
                            margin-right: 10px;
                        }

                        input {
                            border: none;
                            width: 80%;
                            border-radius: 12px;
                            color: #e9e9e9;
                            padding: 5px 10px;
                        }
                    }

                }

                hr {
                    border: none;
                    border-top: 4px dotted #4e4e4e;
                    margin: 20px 0px;
                }

                .last {
                    margin-top: 20px;

                    #lastUpdate {
                        margin-top: 20px;
                        font-size: 14px;
                        color: #a7a7a7;
                        font-style: italic;
                    }
                }
            }
        }

        .alertas {
            height: 50vh;
            width: 100%;
            padding: 10px;
            flex-direction: column;

            button {
                background: #e9e9e930;
                padding: 10px 20px;
                margin-right: 10px;
                border: none;
                border-radius: 5px;
                font-weight: bold;
                color: #e9e9e9;
            }

            button:hover {
                background-color: #e9e9e960;
                transition: all .5s ease-in-out;
            }

            button.active {
                background-color: #e9e9e9;
                color: #000;
            }

            .row {
                height: auto;
                max-height: 48vh;
                overflow: auto;
                margin: 10px 0px;

                .NoContent {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40vh;

                    h4 {
                        margin: 0px 10px;
                        font-size: 18px;
                        font-weight: 100;
                    }
                }



                .detection,
                .sider {
                    display: flex;
                    height: 440px;

                    .col:first-child {
                        overflow: auto;
                    }

                    .col {
                        height: 100%;
                        width: 50%;

                        .empty {
                            margin-left: 10px;
                            height: 100%;
                            display: flex;
                            border-radius: 5px;
                            background-color: #3d3f52;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            h2 {
                                max-width: 400px;
                                text-align: center;
                            }
                        }
                    }
                }

                table {
                    width: 80vh;
                    border-collapse: collapse;
                    text-align: center;


                    tr {
                        height: 20px !important;
                        border-top: 3px solid $background;
                    }

                    tbody {
                        h4 {
                            margin: 0;
                        }

                        td {
                            background-color: #d9d9d92a;
                            padding: 5px;
                        }

                        td:first-child {
                            border-bottom-left-radius: 20px;
                            border-top-left-radius: 20px;
                            width: 20px;
                        }

                        td:last-child {
                            width: 150px;
                            color: #afafaf;
                            font-style: italic;
                            padding-right: 5px;
                            border-bottom-right-radius: 20px;
                            border-top-right-radius: 20px;
                        }

                        .Detecção,
                        .Sider {
                            display: flex;
                            justify-content: center;
                            color: #e9e9e9;
                            background-color: #00A1FC;
                            border-radius: 20px;
                            width: 80px;
                        }

                        .Sider {
                            background-color: #EB863E;
                        }
                    }

                    button {
                        padding: 5px 10px;
                        border: none;
                        border-radius: 3px;
                        background-color: #d9d9d92a;

                        span {
                            display: flex;
                            align-content: center;
                            color: #e9e9e9;
                            font-weight: bold;

                            svg {
                                margin-right: 5px;
                            }

                        }
                    }
                }
            }

        }

    }






}


/*modal */

.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background !important;

    .ReactModal__Content {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px;
        border: none !important;
        outline: none;
        background-color: rgba(0, 0, 0, 0.75) !important;
        border-radius: 4px;
        color: white;
        text-align: center;

        button {
            align-self: flex-end;
            padding: 5px 10px;
            background-color: #00FBBD;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            margin-bottom: 10px;

        }

        button:hover {
            background-color: #68fcd7;
            transition: all .4 ease-in-out;
        }

        img,
        video {
            height: 95%;
            background-color: #101010;
        }

    }

    .ReactModal__Content.config {
        display: flex;
        flex-direction: column;
        position: relative !important;
        border: none !important;
        padding: 0 !important;
        outline: none;
        background-color: $background !important;
        border-radius: 4px;
        width: 425px;

        button {
            align-self: flex-end;
            padding: 5px 10px;
            background-color: #00FBBD;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            margin-bottom: 10px;
            transition: all .4 ease-in-out;

        }

        button:hover {
            background-color: #68fcd7;
            transition: all .4 ease-in-out;
        }

        form {
            h2 {
                margin: 0;
            }

            color: #e9e9e9;
            padding: 20px;



            .file-upload {
                position: relative;
                display: inline-block;
            }

            .file-upload-input {
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            .file-upload {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $laranja;
                border: 2px dashed $laranja !important;
                padding: 20px !important;
                border-radius: 12px;
                cursor: pointer;
            }

            .file-upload:hover {
                background-color: #00FBBD10;
                transition: all .5s ease-in-out;
            }

            .file-upload img {
                max-width: 100px;
                max-height: 100px;
                margin-bottom: 10px;
            }

            /* Estilo para quando um arquivo é arrastado para a área de drop */
            .file-upload.drag-over {
                background-color: #00FBBD10;
                transition: all .5s ease-in-out;
            }

            .row {
                display: flex;
                margin: 10px 0px;

                .imagem {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #606060;
                    height: 200px;
                    width: 100%;
                    border-radius: 5px;
                }

                .form-control {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 5px;

                    label {
                        margin-bottom: 5px;
                    }

                    input,
                    select {
                        border-radius: 5px;
                        padding: 5px 10px;
                        background-color: #bababa12;
                        border: none;
                        color: #e9e9e9;
                    }

                    input[type='text']:focus,
                    select {
                        outline: none;
                    }
                }

                .radio-control {
                    display: flex;
                    align-items: center;

                    label {
                        margin-bottom: 5px;
                        margin-left: 10px;
                    }

                    input[type="radio"] {
                        -webkit-appearance: none;
                        appearance: none;
                        background-color: var(--form-background);
                        margin: 0;
                        color: currentColor;
                        width: 1.15em;
                        height: 1.15em;
                        border: 0.15em solid currentColor;
                        border-radius: 50%;
                        transform: translateY(-0.075em);
                        display: grid;
                        place-content: center;
                    }

                    input[type="radio"]::before {
                        content: "";
                        width: 0.65em;
                        height: 0.65em;
                        border-radius: 50%;
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                        background-color: #00FBBD;
                    }

                    input[type="radio"]:checked::before {
                        transform: scale(1);
                    }

                }

                .col {
                    width: 50%;


                    .explication {
                        font-size: 12px;
                        font-style: italic;
                        color: #606060;
                    }

                }
            }
        }

        .modal-footer {
            display: flex;
            padding: 10px;
            justify-content: flex-end;
            background-color: #d9d9d92a;

            #cancelar {
                margin-right: 10px;
                background-color: #606060;
                color: #e9e9e9;
            }

            button {
                margin: 0;
            }
        }

    }

}



/* Slider.css */
.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.slider-switch:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.slider input:checked+.slider-switch {
    background-color: #2196F3;
}

.slider input:checked+.slider-switch:before {
    transform: translateX(26px);
}

.Home_content {
    color: white;
}


.light {

    .login {
        background-color: $background-light;
        color: #000;
        transition: background-color 0.3s ease, color 0.3s ease;

        #icone-login {
            font-size: 100px;
            color: #000;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        form {
            .form-control {
                input {
                    background-color: #e9e9e9;
                    color: #000;

                }

                input:focus {
                    background-color: #00FBBD30;
                    border: 3px solid $laranja inset;
                    transition: all .6s ease-in-out;
                }
            }

            button {
                background-color: #000;
                color: white;
                transition: background-color 0.3s ease,
                    color 0.3s ease;
            }
        }
    }


    nav {
        background-color: $background-light;
        color: #000;
        transition: background-color 0.3s ease, color 0.3s ease;
    }




}

/* Estilos para a div container */
.card-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* Estilos para as linhas */
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

/* Estilos para as colunas */
/* Estilos para as colunas */
.column {
    width: 220px;
    height: 120px;
    /* Altura fixa para os cards */
    margin-right: 20px;
    /* Espaço entre as colunas */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    position: relative;
    /* Adiciona posição relativa para que possamos posicionar o conteúdo */
    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o card */
    color: white;
}

/* Limpar a margem da última coluna em cada linha */
.column:last-child {
    margin-right: 0;
}

/* Espaço entre as linhas */
.row+.row {
    margin-top: 20px;
}

/* Estilos adicionais para melhorar a aparência dos cards */
.card h2 {
    margin: 0;
    position: absolute;
}

.card p {
    margin: 0;
    position: absolute;
    bottom: 10px;
    /* Espaçamento inferior */
    right: 10px;
    /* Espaçamento direito */
    font-size: 50px;
    color: $laranja;
}

.card-background {
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor e transparência da camada escura */
    border-radius: 5px;
    filter: brightness(0.5);
}

.card-background:hover {
    filter: none;
    transform: scale(1.05);
    /* Aumenta ligeiramente o tamanho do card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra */
}


.treinos {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    margin-top: 40px;
    min-width: 766px;

    input[type="text"] {
        margin-bottom: 10px;
        border-radius: 20px;
        padding: 8px 15px;
        width: auto;
    }

    input[type="text"]:focus {
        outline: none;
    }

    .column {
        filter: brightness(0.3);
        min-width: 200px;
    }

    .column::hover {
        filter: brightness(1);
    }

    .highlighted-card {
        filter: brightness(1);
    }

    .row,
    .row-filter {
        display: flex;
        min-height: 130px;
    }

    button {
        width: 150px;
        align-self: end;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: orange;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}



/* Estilos para o calendário */
.calendar {
    font-family: Arial, sans-serif;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;

    h3 {
        color: white !important;
    }
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

.calendar-nav button {
    background-color: $laranja;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-right: 20px;
}

.calendar-nav button:hover {
    background-color: $laranja;
}

.calendar-month {
    text-align: center;
    margin-bottom: 20px;
}

.calendar-month h3 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

/* Estilos para a data do calendário */
.calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calendar-day.selected {
    background-color: #4bab4b !important;
    color: #fff;
}

.calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Estilos para a div de filtro de categoria */
.category-filter {
    display: flex;
    /* Use flexbox para alinhar os cards de categoria horizontalmente */
    justify-content: space-between;
    /* Distribui o espaço entre os cards */
    /* Espaçamento inferior entre a div de filtro e os cards */
}

/* Estilos para os cards de categoria */
.category-card {
    width: 300px;
    height: 100px;
    /* Altura fixa para os cards */
    margin-right: 20px;
    /* Espaço entre as colunas */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    position: relative;
    /* Adiciona posição relativa para que possamos posicionar o conteúdo */
    background-size: cover;
    /* Ajusta a imagem de fundo para cobrir todo o card */
    color: white;
}

/* Estilo para um card de categoria ativo */
.category-card.active {
    background-color: #007bff;
    /* Cor de fundo quando o card está ativo */
    color: #fff;
    /* Cor do texto quando o card está ativo */
}

.row-filter {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}


/* DataTable.css */
.table-container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

a {
    text-decoration: none;
    color: blue;
}

.divsenha {
    background-color: white;
    border-radius: 5px;

    .senha-valida {
        color: #4caf50;
        margin: 0;
        padding-left: 10px;
    }

    .senha-invalida {
        color: #f44336;
        margin: 0;
        padding-left: 10px;
    }
}

.metrics {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 20px;
        margin-top: 20px;
    }

    p {
        font-size: 18px;
    }

    /* Estilos para os resultados */
    .result {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .result h2 {
        font-size: 20px;
        margin: 0;
    }

    .result p {
        font-size: 18px;
        margin: 0;
    }





}


/* styles.css */

.modal {
    display: none;
    /* Ocultar a modal inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        float: right;
        cursor: pointer;
    }
}

.modal.open {
    display: flex;
    /* Mostrar a modal quando a classe 'open' é aplicada */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: black;

    input {
        margin: 10px 0px;
        border: none;
        background-color: grey;
        border-radius: 5px;
        padding: 9px 9px;
        color: #e9e9e9;
    }

    input:focus {
        outline: none;
        border: 3px solid $laranja inset;
        transition: all .6s ease-in-out;
    }

    button {
        background-color: $laranja;
        padding: 10px 12px;
        border: none;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0px;
        font-weight: bold;
        cursor: pointer;
    }
}

/* Adicione qualquer outro estilo necessário para os elementos dentro da modal */
















@media screen and (max-width: 768px) {
    .page {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .calendar {
        margin: 0;
    }

    .calendar-day {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border: 1px solid #ddd;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .card h2 {
        margin: 0;
        position: absolute;
        font-size: 1.0em;
    }

    .card p {
        margin: 0;
        position: absolute;
        bottom: 10px;
        /* Espaçamento inferior */
        right: 10px;
        /* Espaçamento direito */
        font-size: 25px;
        color: $laranja;
    }

    .titleNav {
        font-size: 10px;
        /* Ajuste o tamanho da fonte conforme necessário */
    }

    .logout {
        font-size: 10px;
    }

    .sidebar ul a li i {
        padding: 5px;
    }

    /* Outros estilos específicos para dispositivos móveis */
}

.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75) !important;

    .ReactModal__Content.config {
        display: flex;
        flex-direction: column;
        position: relative !important;
        border: none !important;
        padding: 0 !important;
        outline: none;
        background-color: #101213 !important;
        border-radius: 4px;
        width: 850px;

        button {
            align-self: flex-end;
            padding: 5px 10px;
            background-color: #f6b95c;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #FFFDFA;
            transition: all .4s ease-in-out;

        }

        button:hover {
            background-color: #f6c57b;
            transition: all .4s ease-in-out;
        }

        form {
            h2 {
                margin: 0;
            }

            color: #e9e9e9;
            padding: 20px;



            .file-upload {
                position: relative;
                display: inline-block;
            }

            .file-upload-input {
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            .file-upload {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: #f6b95c;
                border: 2px dashed #f6b95c !important;
                padding: 20px !important;
                border-radius: 12px;
                cursor: pointer;
                width: 100%;
            }

            .file-upload:hover {
                background-color: #f6b95c10;
                transition: all .5s ease-in-out;
            }

            .file-upload img {
                max-width: 100px;
                max-height: 100px;
                margin-bottom: 10px;
            }

            /* Estilo para quando um arquivo é arrastado para a área de drop */
            .file-upload.drag-over {
                background-color: #00FBBD10;
                transition: all .5s ease-in-out;
            }

            .header {
                display: flex;

                input[type='date'] {
                    padding: 5px 20px;
                    margin-left: 20px;
                    border-radius: 50px;
                    border: none;

                }
            }

            .row {
                display: flex;
                margin: 10px 0px;

                .imagem {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #606060;
                    height: 200px;
                    width: 100%;
                    border-radius: 5px;
                }

                .form-control {
                    display: flex;
                    flex-direction: column;
                    margin: 10px 5px;

                    label {
                        margin-bottom: 5px;
                    }

                    input,
                    select {
                        border-radius: 5px;
                        padding: 5px 10px;
                        background-color: #bababa12;
                        border: none;
                        color: #e9e9e9;
                    }

                    input[type='number']:focus,
                    select {
                        outline: none;
                    }
                }

                .col {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    width: 50%;


                    .explication {
                        font-size: 12px;
                        font-style: italic;
                        color: #606060;
                    }

                }

                .colBottom {
                    display: flex !important;
                    flex-direction: column !important;

                    .form-control {
                        flex-direction: row;

                        label {
                            width: 50%;
                        }
                    }
                }

                .colCalc {
                    display: flex;
                    flex-direction: column;

                    span {
                        width: 100%;
                    }
                }
            }
        }

        .modal-footer {
            display: flex;
            padding: 10px;
            justify-content: flex-end;
            background-color: #d9d9d92a;

            #cancelar {
                margin-right: 10px;
                background-color: #606060;
                color: #e9e9e9;
            }

            button {
                margin: 0;
            }
        }

    }

}

.container-metrics {
    display: flex;
    flex-direction: column;
    align-self: end;
    justify-self: flex-end;
    width: 90svw;
    height: 90svh;
    padding: 20px;
    border-top-left-radius: 20px;

    button {
        border: none;
        border-radius: 10px;
        padding: 10px 25px;
        background-color: #f3a93b;
        color: #FFFDFA;
    }

    button:hover {
        background-color: #f6b95c;
        transition: all .5s ease-in-out;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        height: 72%;

        h4 {
            margin: 0;
            margin-bottom: 10px;
        }

        span {
            margin-bottom: 5px;
        }

        .col {
            width: 50%;
            margin-bottom: 10px;
        }

        .col:first-child {
            margin-right: 5px;
        }

        .col:last-child {
            margin-left: 5px;
        }

        .basicInfos {

            h3 {
                span {
                    font-size: 12px;
                    font-style: italic;
                    font-weight: 100;
                }
            }

            .card-group {
                display: flex;

                .card {
                    display: flex;
                    flex-direction: column;
                    border-radius: 8px;
                    width: 100%;
                    padding: 10px;
                }

                .card:first-child {
                    margin-right: 5px;
                }

                .card:last-child {
                    margin-left: 5px;
                }
            }

            .details {
                margin-top: 15px;
                display: flex;
                font-size: 20px;
                margin: 20px 0px;

                span {
                    width: 100%;
                }
            }

            .more {
                display: flex;

                .col-more {
                    display: flex;
                    flex-direction: column;
                    border-radius: 8px;
                    width: 100%;
                    padding: 10px;
                }

                .col-more:first-child {
                    margin-right: 5px;
                }

                .col-more:last-child {
                    margin-left: 5px;
                }
            }
        }

        .tableColumn {
            .table {
                border-radius: 10px;
                height: 92%;
                padding: 15px;
                overflow: auto;

                table {
                    width: 100%;
                    border-collapse: collapse;

                    thead {
                        tr {
                            height: 40px;
                        }
                    }

                    tbody {

                        tr {
                            border-top: 4px solid #355375;
                            border-bottom: 4px solid #355375;
                        }
                    }

                    tbody {
                        text-align: center;
                        overflow: auto;

                        td {
                            padding: 5px;
                        }

                        td:first-child {
                            padding-left: 20px;
                            border-bottom-left-radius: 20px;
                            border-top-left-radius: 20px;
                        }

                        td:last-child {
                            padding-right: 5px;
                            border-bottom-right-radius: 20px;
                            border-top-right-radius: 20px;
                        }
                    }

                    .action {
                        background-color: #f3a93b;
                        border-radius: 40px;

                        a {
                            margin: 0px 5px;
                            color: #FFFDFA;
                            text-decoration: none;
                        }
                    }

                    .action:hover {
                        background-color: #f6b95c;
                        transition: all .5s ease-in-out;
                    }
                }
            }
        }

        .chartCol {
            .container-col {
                padding: 10px;
                border-radius: 12px;

                #bf {
                    margin-top: -180px;
                }

                canvas {
                    margin: auto;
                    width: 95% !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .grid {
        display: flex;
        flex-direction: column;
    }


    .container-metrics {
        padding: 10px 10px;
        border-radius: 0;
        width: 100%;
        overflow: auto;

        .row {
            flex-direction: column;
            margin: 10px 0px;
            height: auto;

            .col {
                width: 100%;
            }

            .col:first-child {
                margin-right: 0px;
            }

            .col:last-child {
                margin-left: 0px;
            }

            .basicInfos {
                .card-group {
                    flex-direction: column;

                    .card {
                        margin: 5px 0px;
                        width: auto;
                    }

                    .card:first-child {
                        margin-right: 0px;
                    }

                    .card:last-child {
                        margin-left: 0px;
                    }
                }

                .details {
                    flex-direction: column;
                }

                .more {
                    flex-direction: column;

                    .col-more {
                        width: auto;
                        margin: 5px 0px;
                    }

                    .col-more:first-child {
                        margin-right: 0px;
                    }

                    .col-more:last-child {
                        margin-left: 0px;
                    }
                }
            }

            .tableColumn {
                .table {
                    flex-direction: column;
                    height: 300px;
                    margin-top: -12px;
                    margin-bottom: 12px;
                }
            }

            .chartCol {
                .container-col {
                    canvas {
                        width: auto;
                    }
                }
            }
        }
    }

    .ReactModal__Content.config {
        width: 100% !important;
        height: 90svh !important;
        overflow: auto;

        form {
            .row {
                flex-direction: column;

                .col {
                    display: flex !important;
                    flex-direction: column;
                    width: auto !important;
                }
            }

            .file-upload {
                width: auto !important;
            }
        }

    }

}

.treinos {

    /* WorkoutSelector.css */
    .input-search {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

}

.more {
    display: flex;

    .col-more {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        width: 100%;
        background-color: #070606;
        padding: 10px;
    }

    .col-more:first-child {
        margin-right: 5px;
    }

    .col-more:last-child {
        margin-left: 5px;
    }
}